/* Customize your dashboard page's styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.dashboard-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 20px;
    background-color: #27db90;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 20px;
}

.log {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}